<!doctype html> <html class="no-js"> <head> <meta charset="utf-8"> <title></title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/vendor.70bbcfc5.css"> <link rel="stylesheet" href="styles/main.87b1f23d.css"> <style>[ng-cloak] { display: none; }</style>  <body ng-app="todomvc"> <ng-view> <script type="text/ng-template" id="todomvc-index.html"><section id="todoapp">
        <header id="header">
          <h1>todos</h1>
          <form id="todo-form" ng-submit="addTodo()">
            <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
          </form>
        </header>
        <section id="main" ng-show="todos.length" ng-cloak>
          <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
          <label for="toggle-all">Mark all as complete</label>
          <ul id="todo-list">
            <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
              <div class="view">
                <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                <button class="destroy" ng-click="removeTodo(todo)"></button>
              </div>
              <form ng-submit="saveEdits(todo, 'submit')">
                <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
              </form>
            </li>
          </ul>
        </section>
        <footer id="footer" ng-show="todos.length" ng-cloak>
					<span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
          <ul id="filters">
            <li>
              <a ng-class="{selected: status == ''} " href="#/">All</a>
            </li>
            <li>
              <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
            </li>
            <li>
              <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
            </li>
          </ul>
          <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
        </footer>
      </section>
      <footer id="info">
        <p>Double-click to edit a todo</p>
        <p>Forked and adapted to Drupal's <a href="https://github.com/Gizra/restful">RESTful</a> from <a href="http://todomvc.com">TodoMVC</a></p>
        <p><a href="https://github.com/Gizra/todo_restful">Fork on GitHub</a></p>
      </footer></script> <!--[if lt IE 9]>
    <script src="scripts/oldieshim.572be7b4.js"></script>
    <![endif]--> <script src="scripts/vendor.adf6e8ee.js"></script> <script src="scripts/scripts.2d1f8ca4.js"></script>  